@import "../../styles/variables.scss";

.menu {
  background: $bg-black;
  color: $fc-white;
  display: flex;
  flex-direction: column;
  @media (max-width: $layout-breakpoint-small) {
    justify-content: center;
    align-items: center;
  }

  height: 91vh;

  .icons {
    margin-top: 4rem;
    margin-bottom: 0rem;
    @media (max-width: $layout-breakpoint-small) {
      margin-top: 0rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    gap: 10px;

    a {
      cursor: pointer;
    }
  }
  .copyright {
    // flex: 1;
    // position: absolute;

    // height: 15rem;

    // height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 10rem;
    width: 100%;
    height: 100%;
    span {
      width: 15rem;
      height: auto;
      position: absolute;
      transform: rotate(-90deg);
      color: $fc-white;
    }
  }
}
