@import "../../styles/variables.scss";

.roundedChartBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .scoreTitle {
    position: absolute;
    top: 2rem;
    // @media (max-width: $layout-breakpoint-small) {
    //   top: 1rem;
    // }
    left: 1rem;
    font-size: $fs-title2;
  }
  .chart {
    height: 80%;
    width: 100%;
    position: absolute;
    top: 3.5rem;
    @media (max-width: $layout-breakpoint-small) {
      top: 3.5rem;
    }
    p {
      color: $fc-light-grey;
      span {
        color: $fc-black;
        font-size: 30px;
        font-weight: 800;
      }
    }
  }
}

.text {
  // background-color: #ffffff;
  border-radius: 50%;
  color: #74798c;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: auto;
  // justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 7rem;
  // @media (max-width: $layout-breakpoint-small) {
  //   top: 5rem;
  // }
  left: 0px;
}

.score {
  color: rgba(0, 0, 0, 0.8);

  span {
    font-weight: 700;
    font-size: 25px;
  }
}
