@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

//font-familly
$ff-primary: "Roboto", sans-serif;

//font-color
$fc-primary: #ff0101;
$fc-logo: #e60000;
$fc-white: #ffffff;
$fc-black: #000000;
$fc-light-black: #20253a;
$fc-light-grey: #74798c;

//font-size
$fs-title1: 48px;
$fs-nav: 24px;
$fs-title2: 20px;
$fs-sub: 18px;
$fs-p: 14px;

//colors
$bg-black: #020203;

//responsive
$layout-breakpoint-small: 1400px;
