@import "../../styles/variables.scss";

.profilCard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  height: 100%;
  color: $fc-white;
  flex-direction: column;

  .profilCard {
    cursor: pointer;
    width: 20%;
    margin-bottom: 2rem;
    border-radius: 30px;
    padding: 1rem 2rem;
    background-color: $fc-primary;
    display: flex;
    align-items: center;
    transition: 0.3s;
    -webkit-box-shadow: 9px 9px 22px 5px rgba(33, 7, 0, 0.51);
    box-shadow: 9px 9px 22px 5px rgba(33, 7, 0, 0.51);
    img {
      border-radius: 50%;
      height: 70px;
    }
    .profileInfos {
      margin-left: 1rem;
    }
    &:hover {
      opacity: 0.3;
    }
  }
}
