@import "../../styles/variables.scss";

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $fc-primary;

  .errorTitle {
    font-size: 10rem;
  }
}
